html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #121212;
}

/*noinspection CssInvalidPseudoSelector*/
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

/*noinspection CssInvalidPseudoSelector*/
::view-transition-old(root) {
  z-index: 1;
}

/*noinspection CssInvalidPseudoSelector*/
::view-transition-new(root) {
  z-index: 9999;
}

/*noinspection CssInvalidPseudoSelector*/
.dark::view-transition-old(root) {
  z-index: 9999;
}

/*noinspection CssInvalidPseudoSelector*/
.dark::view-transition-new(root) {
  z-index: 1;
}
