html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #121212;
}

/*noinspection CssInvalidPseudoSelector*/
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

/*noinspection CssInvalidPseudoSelector*/
::view-transition-old(root) {
  z-index: 1;
}

/*noinspection CssInvalidPseudoSelector*/
::view-transition-new(root) {
  z-index: 9999;
}

/*noinspection CssInvalidPseudoSelector*/
.dark::view-transition-old(root) {
  z-index: 9999;
}

/*noinspection CssInvalidPseudoSelector*/
.dark::view-transition-new(root) {
  z-index: 1;
}
.red-border{
  display: block !important;
  z-index: 9999;
  border: 1px solid red;
  animation: border-flash 1s infinite;
}
:hover.rectangle{
  z-index: 9999;
  border: 1px solid red;
  animation: border-flash 1s infinite;
}
/* 边框闪烁 */
@keyframes border-flash {
  0% {
    border-color: red;
  }
  50% {
    border-color: #0078D4;
  }
  100% {
    border-color: red;
  }
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #888; /* 滚动条颜色 */
  border-radius: 10px;
  border: 3px solid transparent; /* 滚动条边框颜色 */
}
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* 滚动条悬停颜色 */
}
.heatmaps-scroll-marker{
  width: 100%;
  position: absolute;
  text-align: center;
  z-index: 3;
}
.heatmaps-scroll-marker-info{
  display: inline-flex;
  width: 200px;
  height: 48px;
  padding: 7px 12px;
  font-weight: 400;
  border-radius: 4px;
  font-size: 12px;
  font-style: italic;
  align-items: center;
  text-align: start;
}
.heatmaps-scroll-marker-info::before,
.heatmaps-scroll-marker-info::after{
  content: "";
  border-top: 1px solid #323130;
  margin: auto;
  display: block;
  width: calc((100% - 200px) / 2);
  position: absolute;
  left: 0;
  top: 24px;
}
.heatmaps-scroll-marker-info::after{
  right: 0;
  left: auto;
}
.heatmaps-scroll-marker-percent{
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  padding-right: 8px;
}
